
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";

}

<h2 align="center">Welcome to Bank Management System </h2>

<div class="bg-image" style=" background-image: url('https://www.liveblogspot.com/wp-content/uploads/2015/05/Financial-Management-Services-teamworkaccounting.com_.au_.png'); 
       background-repeat: no-repeat; height: 100vh; background-position: center; background-size: cover">
            
</div>



